<div class="col-xs-12 col-sm-5 col-sm-offset-2">
    <div class="col-xs-12" ng-controller="funnyGame">
        <div class="col-xs-12">
            <h3>Funny string!</h3>
            <label for="game">Input string to make it funny!</label>
        </div>
        <div class="col-xs-12">
            <input class="col-xs-12 col-sm-8" type="text" id="game" ng-model="funny_string">
        </div>
        <div class="col-xs-12">
            <div ng-if="funny_string">{{getFunnyString(funny_string)}}</div>
        </div>
    </div>

</div>