<div class="container">
    <div class="form">
        <div class="form-group">
            <label for="1s" class="col-xs-12 col-sm-2"> First Summand</label>
            <input type="number" id="1s" ng-model="firstN" >
        </div>
        <div class="form-group">
            <label for="2s" class="col-xs-12 col-sm-2"> Second Summand</label>
            <input type="number" id="2s" ng-model="secondN" >
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-2"> Summ of numbers</label>
            <kt-sum sum="{{sumOfNumbers}}"></kt-sum>
            <select ng-options="rate as rate for (rate, value) in rates"
                    ng-model="selectedCurrency">
            </select>
            <span ng-if="rates">{{getConverted(selectedCurrency)}}</span>
        </div>
    </div>
</div>